.menu {
    text-transform:none;
    position: relative;
    text-align: center;

}

.menu > li {
    float: left;
    
}

.menu__second-level li {
    border-top: 1px solid #111;
}
.menu > li a {
    display: block;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
}



.menu__second-level li a:hover {
    background-color: #c4ebf5;
}






.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    visibility: visible;
    opacity: 1;
}
.code{
    white-space: nowrap;
}